body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(185, 185, 185);
}

a {
  color: #008fc7;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}
	
.delete-form button {
  color: red;
}
	
li {
  list-style: none;
}

